.main {
    width: 100%;
    margin-top: 100px;
    display: flex;
}

.navbar {
    min-width: 15vw;
    padding: 20px;
    border: 2px solid #ccc;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.navbar_close {
    display: none;
    border-bottom: 2px #ccc solid;
    padding-bottom: 10px;
    width: 100%;
}

.navbar_close h5 {
    border: 2px solid #ccc;
    padding: 7px;
    border-radius: 7px;
}

.navbar_close:active h5 {
    background-color: #ccc;
    color: #fff;
}

.navbar_price,
.navbar_producer,
.navbar_color,
.navbar_country {
    border-bottom: 2px #ccc solid;
    padding: 0 5px;
}

.navbar_availability {
    padding: 0 5px; 
}

.navbar_price_list,
.navbar_producer_list,
.navbar_country_list,
.navbar_color_list,
.navbar_availability_list {
   margin: 10px 0;
   line-height: 1.2;
   max-height: 280px;
   overflow-y: auto;
}

.navbar_search {
    border-radius: 7px;
    border: 2px solid #ccc;
    padding: 5px;
}

.navbar_search:hover {
    background-color: #ccc;
    color: #fff;
    transition: ease-in 0.25s;
}

.store {
    width: 100%;
    padding: 0 30px;
}

.store_head {
    display: flex;
    justify-content: space-between;
}

.store_sub-head {
    display: flex;
    align-items: center;
    gap: 15px;
}

.store_show-filters {
    display: none;
    background-color: rgb(44, 14, 14);
    color: #fff;
    border-radius: 10px;
    width: 100px;
}

.store_show-filters:active {
    color: #ccc;
    background-color: rgb(170, 30, 80);
}

.store_set-goods-count {
    display: flex;
    gap: 20px;
    align-items: center;
}

.store_products-list,
.store_recently-added-products-list {
    margin-top: 35px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.store_products-list_item {
    border: 2px #ccc solid;
    width: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.store_products-list_item:hover {
    color: inherit;
}

.store_products-list_item:hover>.store_item_image img {
    transform: scale(1.2);
}

.store_item_title {
    margin-top: 2px;
}

.store_item_image {
    margin-top: 10px;
    width: 280px;
    height: 280px;
    overflow: hidden;
}

.store_item_image img {
    transition: ease-in 0.2s;
    width: 100%;
}

.store_item_description {
    margin-top: 10px;
    padding: 0 5px;
}

.price {
    margin-top: 10px;
}

.store_recently-added-products-title {
    margin-top: 70px;
}

@media (max-width: 1790px) {
    .store_products-list_item {
        width: 340px;
    }
}

@media (max-width: 1742px) {
    .store_products-list_item {
        width: 330px;
    }
}

@media (max-width: 1695px) {
    .store_products-list_item {
        width: 320px;
    }
}

@media (max-width: 1650px) {
    .store_products-list_item {
        width: 310px;
    }
}

@media (max-width: 1600px) {
    .store_products-list_item {
        width: 300px;
    }
}

@media (max-width: 1553px) {
    .store_products-list_item {
        width: 285px;
    }
}

@media (max-width: 1450px) {
    .main {
        margin-top: 130px;
    }
    
    .navbar {
        min-width: 20vw;
    }

    .navbar_price_list,
    .navbar_producer_list,
    .navbar_country_list,
    .navbar_color_list,
    .navbar_availability_list {
       margin: 15px 0;
    }

    .store_set-goods-count {
        margin-right: 25px;
    }
    
    .store_products-list_item {
        width: 340px;
    }

    .store_item_image {
        width: 280px;
        height: 280px;
    }

    .store_item_title {
        margin-top: 5px;
    }
    
    .store_item_image {
        margin-top: 15px;
        width: 270px;
        height: 270px;
    }
    
    .store_item_description {
        margin-top: 15px;
        padding: 0 10px;
    }
    
    .price {
        margin-top: 15px;
    }
    
    .store_recently-added-products-title {
        margin-top: 90px;
    }
}

@media (max-width: 1400px) {
    .store {
        padding: 0 20px;
    }
    
    .store_set-goods-count {
        gap: 25px;
    }
    
    .store_products-list,
    .store_recently-added-products-list {
        margin-top: 25px;
        gap: 15px;
    }
    
    .store_products-list_item {
        width: 340px;
    }
       
    .store_item_image {
        width: 270px;
        height: 270px;
    }
    
    .price {
        margin-top: 15px;
    }
}

@media (max-width: 1365px) {
    .store_products-list_item {
        width: 325px;
    }
}

@media (max-width: 1310px) {
    .navbar {
        min-width: 17vw;
    }
}

@media (max-width: 1260px) { 
    .store {
        padding: 0 30px;
    }

    .navbar {
        min-width: 20vw;
        padding: 20px;
    }

    .navbar_price_list,
    .navbar_producer_list,
    .navbar_country_list,
    .navbar_color_list,
    .navbar_availability_list {
       margin: 15px 0;
       line-height: 1.3;
       max-height: 260px;
    }

    .navbar_search {
        padding: 7px;
    }

    .store_products-list,
    .store_recently-added-products-list {
        gap: 25px;
    }

    .store_products-list_item {
        width: 360px;
        padding: 15px;
    }
    
    .store_item_title {
        margin-top: 7px;
    }

    .store_item_image {
        margin-top: 10px;
        width: 290px;
        height: 290px;
    }
}

@media (max-width: 1023px) {
    .main {
        position: relative;
    }

    .nav-hidden {
        transform: translate(520px, 0);
    }

    .navbar {
        position: absolute;
        top: 0px; 
        left: -500px;
        min-width: 27vw;
        height: fit-content;
        transition: all 0.7s ease;
    } 

    .navbar_close {
        display: block;
    }

    .navbar_price,
    .navbar_producer,
    .navbar_country,
    .navbar_color,
    .navbar_availability {
        margin-top: 10px;
    }

    .navbar_search {
        width: 100%;
    } 

    .store {
        padding: 0 20px;
    }

    .store_show-filters {
        display: block;
        padding: 7px;
        margin-top: 10px;
    }
    
    .store_products-list,
    .store_recently-added-products-list {
        margin-top: 30px;
        justify-content: space-around; 
    }

    .store_recently-added-products-title {
        padding: 0 30px;
    }

    .store_products-list_item {
        padding: 15px;
        width: 350px;
    }
    
    .store_item_image {
        width: 310px;
        height: 310px;
    }
}

@media (max-width: 765px) {
    .store_products-list_item {
        width: 330px;
    }

    .store_products-list,
    .store_recently-added-products-list {
        gap: 20px;
    }

    .store_recently-added-products-title {
        padding: 0 10px;
    }
}

@media (max-width: 720px) {
    .store_products-list,
    .store_recently-added-products-list {
        gap: 5px;
    }

    .store_set-goods-count {
        gap: 10px;
    }

    .store_head {
        flex-wrap: wrap;
        gap: 20px;
    }

    .store_sub-head {
        gap: 10px;
        width: 100%;
    }

    .store_products-list_item {
        width: 300px;
    }

    .store_item_image {
        width: 275px;
        height: 275px;
    }
}

@media (max-width: 650px) {
    .store_products-list_item {
        width: 290px;
    }
}

@media (max-width: 625px) {
    .store_products-list_item {
        width: 250px;
    } 

    .store_item_image {
        width: 220px;
        height: 220px;
    }
}

@media (max-width: 545px) {
    .store_products-list_item {
        width: 220px;
    } 

    .store_item_image {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 485px) {
    .navbar {
        min-width: 40vw;
    }

    .store_products-list_item {
        width: 330px;
    } 

    .store_item_image {
        width: 280px;
        height: 280px;
    }

    .store_products-list,
    .store_recently-added-products-list {
        gap: 15px;
    }
}

@media (max-width: 400px) {
    .store_sub-head {
        width: 100%;
        flex-wrap: wrap;
    }
}

@media (max-width: 370px) {
    .navbar {
        min-width: 65vw;
    }
}